* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam', sans-serif;
}

/*GLOBAL*/
body {
    background-color: white;
}


/*HEADER*/
.header-wrapper {
    width: 100%;
    background-color: #FFD700;
    padding: 10px;

}
.header-inner-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    padding: 5px;
}
.search-movie-name {
    position: absolute;
    background-color: #FFD700;
}
.header-logo img {
    width: 200px;
}


/*MAIN*/
.main-sec-inner-w {
    display: flex;
    width: 100%;
}
.movie-name {
    margin-top: 10px;
}
.see-more-btn {
    color: white;
    background-color: red;
    transition: background-color 0.5s ease;
}

/*MAIN-GENRE-SECTION*/
.levo-30 {
    width: 10%;
    padding: 10px;
}
.genre-wrap {
    padding: 10px 0;
    text-align: center;
    background-color: white;
    margin-top: 5px;
    transition: background-color 0.5s ease;
}
.genre-wrap:hover {
    cursor: pointer;
    background-color: lightgray;
}
.main-genres-text {
    padding: 10px 0;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s ease;
}
.main-genres-text:hover {
    cursor: pointer;
    background-color: lightgray;
}

/*MAIN-MOVIE-SECTION*/
.desno-70 {
    padding-top: 10px;
    display: flex;
    justify-content:start ;
    flex-wrap: wrap;
}
.div-desno-wrapper {
    width: 100%;
}
.movies-section {
    width: 15%;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-right: 20px;
    transition: all .2s ease-in-out;
}
.movies-section:hover {
    transform: scale(1.1);
}
.see-more-btn {
    width: 30%;
    margin: 10px auto;
    padding: 20px;
    color: black;
    text-align: center;
    font-weight: bold;   
}
.see-more-btn:hover {
    cursor: pointer;
    background-color: #ff3b58;
}
.movie-name-div {
    position: absolute;
    color: white;
    background-color: orange;
    width: 100%;
    top: 0;
}
.movie-poster-div {
    position: relative;
}
.movie-poster-div img {
    width: 100%;
}
/*MAIN-TITLE*/
.main-title {
    color: white;
    margin: 0 auto;
}

/*CLICKED MOVIE AREA*/
.clicked-movie-wrapper {
    display: flex;
    width: 100%;
}
.clicked-movie-30 {
    width: 30%;
    text-align: center;
}
.clicked-movie-70 {
    width: 70%;
    margin-left: 70px;
}
.clicked-movie-name-wrap {
    padding: 5px 0 5px 0;
}
.clicked-movie-overview {
    padding: 5px 0 5px 0;
}
.clicked-movie-date {
    padding: 5px 0 5px 0;
}
.clicked-movie-runtime {
    padding: 5px 0 5px 0;
}
.more-info-btn {
    padding: 5px 0 5px 0;
}
